<meta charset="utf-8">

{% include seo.html %}

<!-- Atom Feed -->
<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- Mobile Meta -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Remove 'no-js' and add 'js' -->
<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- Main Stylesheet -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

<!-- Favicon -->
<link rel="icon" href="{{ '/images/favicon.ico' | relative_url }}">

<!-- Web App Manifest -->
<link rel="manifest" href="{{ '/images/manifest.json' | relative_url }}">

<!-- Theme Color -->
<meta name="theme-color" content="#ffffff">

<meta http-equiv="cleartype" content="on">
